@using WebApplication_MVC
@model Squirrel
    

@using (Html.BeginForm("Login_Submit", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">
            @Html.Label("LOGIN:   ")
        </div>
        <div class="col-md-5">
            @Html.TextBoxFor(m=>m.Login)  <br/><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.Label("PASSWORD:")
        </div>
        <div class="col-md-5">
            @Html.TextBoxFor(m=>m.Password) <br /><br />
        </div>
    </div>
    <div class="row">
        <p><input type="submit" value="LOG IN" /></p>
    </div>
        }