@{
    ViewBag.Title = "Order";
}

<br /><p>

</p>
      <div class="jumbotron jumbotron-fluid">
          <h1>- HUNGRY SQUIRREL -</h1>
          <p class="lead">Best PIZZA for hungry squirrel only!</p>
          <p>

      </div>

<address>
    <strong>Support:</strong>   <a href="mailto:irynapchelnykova@gmail.com.com">IrynaPchelnykova@gmail.com</a><br />
</address>