@{
    ViewBag.Title = "Order";
}
@model WebApplication_1.Models.PizzaHelpModel
<br /><p>
</p>
<div class="jumbotron jumbotron-fluid">
    <h1>- HUNGRY SQUIRREL -</h1>
    <p class="lead">Best PIZZA for hungry squirrel only!</p>
    <p>
</div>
<div id="result_order" >
    @Html.Partial("Pizzas/_Order", Model.Order)
</div>
<div class="body">
    <div class="well well-sm">
        <h2>PIZZA</h2>
    </div>
    @foreach (var item in Model.Pizzas)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("Pizzas/_Photo1", item)
            </div>
            <div class="col-md-4">
                @Html.Partial("Pizzas/_Description1", item)
            </div>
            <div class="col-md-4">
                @Html.Partial("Pizzas/_Check1", item)
            </div>
        </div>
    }
</div>
<address>

    <strong>Support:</strong>   <a href="mailto:irynapchelnykova@gmail.com.com">IrynaPchelnykova@gmail.com</a><br />
</address>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                let thisChildren = $(this).closest("div[class='row']").children()
                var quantity = thisChildren.find("input#box").val()
                let isOrder = thisChildren.find("input#chbox").prop("checked");
                let isEmpty = true

                $('#table_order td').each(function () {                  
                    console.log(this.innerHTML);                   
                    if ($("#order_add").attr('data-pizza-name') == this.innerHTML)
                        isEmpty = false
                });
                                
                if (isOrder == true && isEmpty == true) {
                    $("#table_order").append('<tr><td>' + $(this).attr('data-pizza-name') +
                                            '</td><td>' + quantity + '</td></tr >')
                }
            });
        });
    </script>
}
