@{
    ViewBag.Title = "Order";
}
@model IEnumerable<WebApplication_MVC.Pizza>
<br /><p>
</p>
<div class="jumbotron jumbotron-fluid">
    <h1>- HUNGRY SQUIRREL -</h1>
    <p class="lead">Best PIZZA for hungry squirrel only!</p>
    <p>
</div>
<div id="result_order" position="fixed" right="10px" top="80%" padding="10px" border="5px solid #333">
    @Html.Partial("Pizzas/_Order")
</div>
<div class="body">
    <div class="well well-sm">
        <h2>PIZZA</h2>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("Pizzas/_Photo1", item)    
            </div>
            <div class="col-md-4">
                @Html.Partial("Pizzas/_Description1",item)
            </div>
            <div class="col-md-4">
                @Html.Partial("Pizzas/_Check1",item)    
            </div>
        </div>
    }
</div>
<address>
    <strong>Support:</strong>   <a href="mailto:irynapchelnykova@gmail.com.com">IrynaPchelnykova@gmail.com</a><br />
</address>

