@model WebApplication_MVC.Pizza
 @using (Html.BeginForm("CheckOrder", "Home", FormMethod.Post))
 {

<div class="row">
    <div class="col-md-2">
        @Html.CheckBox("chbox", false, new { @class = "chekbox" })
    </div>
    <div class="col-md-2">
        @Html.Label("How many?");
    </div>
    <div class="col-md-3">
        @Html.TextBox("box")
    </div>
    <div class="col-md-1">
        <label></label>
    </div>
    <div class="col-md-4">
        <button class="btn" type="submit" name="order_add">Order!</button>
    </div>
</div>
 }
