@model WebApplication_MVC.Pizza
<br />
<br />
<p class="lead">
    Mushrooms add a savory earthiness to pizza that complements most other toppings, especially meats, cheeses and onions. Of the many varieties of mushroom, each has its own distinctive flavor, texture and appearance.
</p>

